<header>
<h1>Ruby on Rails スケジュール管理アプリ</h1>
</header>
<h3>スケジュール新規作成</h3>

    <%= form_with model: @user do |f| %>
      <table>
        <tr>
          <th><%= f.label :title ,"タイトル" %></th>
          <td><%= f.text_field :title %></td>
        </tr>

        <tr>
          <th><%= f.label :startTime ,"開始日" %></th>
          <td><%= f.date_field :startTime %></td>
        </tr>

        <tr>
          <th><%= f.label :finishTime ,"終了日" %></th>
          <td><%= f.date_field :finishTime %></td>
        </tr>

        <tr>
          <th><%= f.label :allTime ,"終日" %></th>
          <td><%= f.check_box :allTime %></td>
        </tr>
        <tr>
          <th><%= f.label :memo ,"スケジュールメモ" %></th>
          <td><%= f.text_area :memo %></td>
        </tr>
      </table>

      <div>
        <ul>
          <li><%= f.submit "登録完了する"%></li>
          <li><%= link_to "ユーザー情報一覧に戻る", :users %></li>
        </ul>
      </div>
    <% end %>
    <footer>

    <h1>現在の日時 :
      <%=   require "date"
      thisMonth = Date.today
      thisMonth.year%>年<%= thisMonth.month%>月<%= thisMonth.day%>日
      スケジュール合計 : <%= User.count%> </h1>
    </footer>
